{% extends "index.html" %}
{% block left %}
<script type="text/javascript" src="{{ url_for('static', filename='mapdata1.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='usmap.js') }}"></script>
    <h2> {{ user.nickname }}</h2>
   <table>
   <tr>
   <td><b>City</b>&nbsp;</td><td><b>State</b>&nbsp;&nbsp;&nbsp;</td><td><b>Year</b></td><td>&nbsp;&nbsp;&nbsp;</td><td><b>Count By Year</b>&nbsp;&nbsp;&nbsp;</td>
   </tr>
    {% for post in posts %}
    <tr>
<td > {{post.city}} </td><td>{{post.state}}&nbsp;&nbsp;&nbsp; </td><td>{{post.year}}&nbsp;&nbsp;&nbsp;</td> <td style="text-align:right"> {{post.count}} </td>
</tr>
    {% endfor %}
</table>   
<table>
{% for post in posts %}
    <tr>
<td > {{post.city}} </td><td>{{post.state}}&nbsp;&nbsp;&nbsp; </td><td>{{post.year}}&nbsp;&nbsp;&nbsp;</td> <td style="text-align:right"> {{post.count}} </td>
</tr>
    {% endfor %}
</table>
 
<div id="map" style="width: 100%"></div>
{% endblock %}
{%block right %}
<table>
<tr>
<td> trial right from batch time </td>
<td>    {{ user.nickname }}</td>

</tr>
</table>
<form action=".">
First name:
<input type="text" name="City" width="0">
Last name:
<input type="text" name="State">
<input type="submit" value="Submit">
</form>

{% endblock %}
 %   {% for post in posts %}
 %   <div><p>{{ post.author.nickname }} says: <b>{{ post.body }}</b></p></div>
 %   {% endfor %}
